@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body, html {
  height: 100%;
}

body {
  color: #ffffff;
  text-align: center;
  background-color: #c9e5ff;
  background: linear-gradient(#3a87cf, #7268a2);
  font-family: "Open Sans";
}

div {
  padding: 10px;
}

div.splashpage {
  height: 75%;

  position: relative;
  top:50%;
  transform: translateY(-50%);
}

div.title > h1, h2 {
  line-height: 0.6em;
}

div.title > h1 {
  text-indent: 125px;
  font-size: 300%;
}

div.title > h2 {
  text-indent: -125px;
  color: #ffffff;
  font-weight: 300;
}

img.mean_logo {
  padding: 15px;
  padding-top: 20px;
  display: inline;
  width: 90%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  background-color: rgba(150, 169, 205, 0.5);
  transition: 0.5s;
}

img.mean_logo:hover {
  background-color: rgba(150,150,205, 0.5);
}

img.mean_logo:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.125);
}

div.names > a > h3 {
  line-height: 0.4em;
  color: #ffffff;
  transition: 0.5s;
}

div.names > a > h3:hover {
  color: rgb(150,150,205);
}

div.names > a {
  text-decoration: none;
}

div.course_info > h4 {
  color: #ffffff;
  font-weight: 300;
}

@media screen and (max-device-width:700px) {

  body {
    font-size: 3vw;
    background: linear-gradient(#3a87cf, #7268a2, #7268a2, #3a87cf);
    background-size: 100% 200%;
    background-repeat: repeat-y;
  }

  div.title > h1 {
    text-indent: 50px;
    font-size: 300%;
  }

  div.title > h2 {
    text-indent: -50px;
    color: #ffffff;
    font-weight: 300;
  }

  div.splashpage {
    height: 100%;
    margin: auto;
    position: relative;
    top:50%;
  }
}
