<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contributions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" title="Bootstrap" charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" charset="utf-8">
</head>
<body>
  <header>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Contributions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class><a href="/introduction">What is the MEAN Stack?</a></li>
        <li class><a href="/example">An Example App</a></li>
        <li class><a href="/setup">Setting up your Platform</a></li>
        <li class><a href="/helloworld">Hello World</a></li>
        <li class><a href="/deploy">Deploying Your Web App to Heroku</a></li>
        <li class><a href="/experience">Our Experience</a></li>
        <li class><a class="current" href="#">Contributions</a></li>
      </ul>
    </div>
  </header>
  <div class="container sketches">
    <a href="http://www.github.com/ogmiracle" class="sketch">
      <div class="ji contributions">
        <img src="img/ji.png" class="ji sketch" />
        <p class="sketch test">
          Stylesheets and "Setting up your Platform" page.
        </p>
      </div>
    </a>
    <a href="http://www.github.com/rabie3" class="sketch">
      <div class="rabih contributions">
        <img src="img/rabih.png" class="rabih sketch" />
        <p class="sketch test">
          Stylesheets and "What is the MEAN Stack" page.
        </p>
      </div>
    </a>
    <a href="http://www.github.com/beverlily" class="sketch">
      <div class="beverly contributions">
        <img src="img/beverly.png" class="beverly sketch" />
        <p class="sketch test">
          Editing/proofreading, stylesheets, setting up and deploying to Heroku, "What is the MEAN Stack", "Setting up your Platform", and "Our Experience" pages.
        </p>
      </div>
    </a>
    <a href="http://www.github.com/LynW" class="sketch">
      <div class="carolyn contributions">
        <img src="img/carolyn.png" class="carolyn sketch" />
        <p class="sketch test">
          Home page, stylesheets,"Deploying to Heroku", "What is the MEAN Stack", "Our Experience", "Setting up your Platform" and "Contributions" pages.
        </p>
      </div>
    </a>
    <a href="http://www.github.com/samdindyal" class="sketch">
      <div class="samuel contributions">
        <img src="img/sam.png" class="samuel sketch" alt="" />
        <p class="sketch test">
          Setting up <code>mongoDB</code>, <code>express.js</code>, <code>AngularJS</code> and <code>Node.js</code>, setting up and deploying to Heroku, stylesheets "Example App", "Setting up your Platform", "Deploying to Heroku", "Hello World", "Experience", "Introduction" and "Contributions" pages.
        </p>
      </div>
    </a>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
