<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contributions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" title="Bootstrap" charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" charset="utf-8">
</head>
<body>
  <header>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Contributions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class><a href="/introduction">What is the MEAN Stack?</a></li>
        <li class><a href="/example">An Example App</a></li>
        <li class><a href="/setup">Setting up your Platform</a></li>
        <li class><a href="/helloworld">Hello World</a></li>
        <li class><a href="/deploy">Deploying Your Web App to Heroku</a></li>
        <li class><a href="/experience">Our Experience</a></li>
        <li class><a class="current" href="#">Contributions</a></li>
      </ul>
    </div>
  </header>
  <div class="container">


    <h3>Samuel Dindyal</h3>
    <p>
      Setting up <code>mongoDB</code>, <code>express.js</code>, <code>AngularJS</code> <code>Node.js</code>, Heroku cloud server
    </p>


    <h3>Beverly Li</h3>
    <p>
      Editing/Proofreading, Setting up your Platform page
    </p>

    <h3>Carolyn Wang</h3>
    <p>
      Whining
    </p>

    <h3>Ji Qi</h3><h6>#OGMIRACLE</h6>
    <p>
        AYO
    </p>

    <h3>Rabih Talaba</h3>
    <p>
      Need to fix his <strike>lab 1</strike> all labs
    </p>



  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
