<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>An Example App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" title="Bootstrap" charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body ng-app='app'>
    <header>
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          An Example App
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class><a href="/introduction">What is the MEAN Stack?</a></li>
          <li class><a class="current" href="#">An Example App</a></li>
          <li class><a href="/setup">Setting up your Platform</a></li>
          <li class><a href="/simplewebapp">A Simple Web App</a></li>
          <li class><a href="/deploy">Deploying Your Web App to Heroku</a></li>
          <li class><a href="/experience">Our Experience</a></li>
          <li class><a href="/contributions">Contributions</a></li>
        </ul>
      </div>
    </header>
    <div class="container example_app">
      <h1>Write on our wall!</h1>
        <form role="form">
          <div class="form-group">
            <input ng-model="username" class="form-control" placeholder="Your Name" maxlength="20"/>
            <textarea ng-model="postBody" class="form-control" placeholder="What's on your mind (that's G-Rated)? (120 Characters Max)" maxlength="120"></textarea>
              <button ng-click="writeToWall()" id="add_post" class="btn btn-default">Add Post</button>
        </div>
        </form>
      <div class="wall" ng-controller="WallCtrl">
        <ul class="list-group">
          <li ng-repeat="message in messages | orderBy: '-date'" class="list-group-item">
            <b>{{ message.name }}</b>: "{{ message.body }}"</span>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <span id="connected_users"></span>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" charset="utf-8"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="scripts/app.js" charset="utf-8"></script>
  </body>
</html>
