<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What is the MEAN Stack?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" title="Bootstrap" charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          What is the MEAN Stack?
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class><a class="current" href="#">What is the MEAN Stack?</a></li>
          <li class><a href="#">An Example App</a></li>
          <li class><a href="#">Setting up your Platform</a></li>
          <li class><a href="#">A Simple Web App</a></li>
          <li class><a href="#">Deploying Your Web App to Heroku</a></li>
          <li class><a href="#">Our Experience</a></li>
          <li class><a href="#">Contributions</a></li>
        </ul>
      </div>
    </header>

    <div class="container">
      <p>
        The MEAN Stack is a collection of web technologies based on JavaScript.
        MEAN stands for MongoDB, Express.js, AngularJS and Node.js.
      </p>
      <div class="row">
        <div class="col-xs-12">
          <a href="https://www.mongodb.org"></div><img class="logo" src="/img/mongodb.png" alt="MongoDB" /></a>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="http://expressjs.com"><img class="logo" src="/img/express.png" alt="Express.js" /></a>
          </div>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="https://angularjs.org"><img class="logo" src="/img/AngularJS.png" alt="AngularJS" /></a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <a href="https://nodejs.org/en/"><img class="logo" src="/img/node.png" alt="Node.js" /></a>
          </div>
        </div>

    </div>
  </body>
</html>
