<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What is the MEAN Stack?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" title="Bootstrap" charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" charset="utf-8">
  </head>
  <body>
    <header class="long">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          What is the MEAN Stack?
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class><a class="current" href="#">What is the MEAN Stack?</a></li>
          <li class><a href="/example">An Example App</a></li>
          <li class><a href="/setup">Setting up your Platform</a></li>
          <li class><a href="/helloworld">Hello World</a></li>
          <li class><a href="/deploy">Deploying Your Web App to Heroku</a></li>
          <li class><a href="/experience">Our Experience</a></li>
          <li class><a href="/contributions">Contributions</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <br>
      <p>
        The MEAN Stack is a full stack software bundle built on JavaScript.
        MEAN stands for <code>mongoDB</code>, <code>express.js</code>, <code>AngularJS</code> and <code>node.js</code>.
      </p>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <a href="https://www.mongodb.org"></div><img class="logo" src="/img/mongoDB.png" alt="MongoDB" /></a>
          <p class="description">
            <code>mongoDB</code> is a non-relational, or NoSQL database. It stores data in BSON, or, Binary JavaScript Object Notation (JSON).
          </p>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="http://expressjs.com"><img class="logo" src="/img/express.png" alt="Express.js" /></a>
          <p class="description">
            <code>express.js</code> is a web application server framework built on node.js. It contains objects which helps with organizing the server side code, written with node.js.
          </p>
          </div>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="https://angularjs.org"><img class="logo" src="/img/AngularJS.png" alt="AngularJS" /></a>
          <p class="description">
            <code>AngularJS</code> is a structural framework used for creating dynamic webapps. It uses databinding and dependency injection to make code cleaner and more concise.
          </p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <a href="https://nodejs.org/en/"><img class="logo" src="/img/node.png" alt="node.js" /></a>
            <p class="description" id="last_description">
              <code>node.js</code> is a cross-platform runtime environment for developing server side web applications. It is built on JavaScript and has only recently gotten its first stable release.
            </p>
          </div>
        </div>
        <hr><br>
        <p>
          The MEAN Stack was initially released on February 12<sup>th</sup>, 2014 and its first stable release was on October 7<sup>th</sup>, 2014.
        </p>
        <p>
          When using the MEAN Stack, <code>mongoDB</code> is typically used as a database, <code>express.js</code> and <code>node.js</code> are used for running the web server and serving content and other files and <code>AngularJS</code> is used to provide a more dynamic user experience with the use of its two-way data binding and more.
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  </body>
</html>
