<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Setting up your Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" title="Bootstrap" charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" charset="utf-8">
  </head>
  <body>
    <header class="long">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          Setting up your Platform
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class><a href="/introduction">What is the MEAN Stack?</a></li>
          <li class><a href="/example">An Example App</a></li>
          <li class><a class="current" href="#">Setting up your Platform</a></li>
          <li class><a href="/helloworld">Hello World</a></li>
          <li class><a href="/deploy">Deploying Your Web App to Heroku</a></li>
          <li class><a href="/experience">Our Experience</a></li>
          <li class><a href="/contributions">Contributions</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="intro setup">
        In order to use the MEAN Stack, you need to have two things installed:<br><br>
        <ul>
          <li><code>node.js</code> - <a class="full_link" href="https://nodejs.org/en/">https://nodejs.org/en/</a></li>
          <li><code>mongoDB</code> - <a class="full_link" href="https://www.mongodb.org">https://www.mongodb.org</a></li>
        </ul>
      </div>
      <div class="setup installing">
        These can easily be found on their respective websites for any major platform. <code>node.js</code> has an installer while <code>mongoDB</code> requres some terminal work. Below is a screenshot of what the installer on Mac OS X looks like.<br>
        <img src="img/nodeinstaller.png" alt="Installing Node on Mac OS X" ></image><br>
        On Mac OS X, <code>mongoDB</code> can be installed via <a href="http://brew.sh">Homebrew</a>:<br><br>
        <pre class="prettyprint lang-shell">
   $ brew install mongodb</pre>

        <p>
          The instructions for installing <code>mongoDB</code> on other platforms can be found in the link below:<br><br>
          <a class="full_link"  href="https://www.mongodb.org/downloads#production">https://www.mongodb.org/downloads#production</a>
        </p>
      </div><br>
      <div class="setup how-to-run">
        Once <code>node.js</code> is installed, the syntax for running your program is as follows:<br><br>
        <pre class="prettyprint lang-shell">
   $ node script.js</pre>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  </body>
</html>
